.ports-td {
  padding-left: 40px;
}

.ports-div {
  padding-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 30px;
  width: 32px;
  text-align: center;
}
.edit-btn {
  all: unset;
  background-color: #20b2aa1a;
  padding: 4px 8px 4px 8px;
  margin-right: 5px;
  border-radius: 20%;
}
