body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

span {
  color: red;
  font-weight: 500;
}

.login-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  height: 55px;
  width: 240px;
  background-color: white;
  font-size: larger;
}
.main-box {
  width: 500px;
  /* height: 490px; */
  border: none;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  opacity: 0.9;
  background: rgba(255, 254, 254, 0.731);
  backdrop-filter: blur(10px);
  justify-items: center;
}

.index-div {
  min-height: 100vh;
  /* Minimum height = full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://mniladmin.hashtechy.space/static/media/login_bg.af773e0ac50a0421369d.png");
  background-color: #ced4da;
  background-position: 100% 100%;
  /* Position background at bottom-right */
  background-repeat: no-repeat;
  height: 100%;
  overflow-y: auto;
  /* Show vertical scrollbar if content overflows */
  padding-block: 15px;
}

.login-img {
  display: block;
  /* Make image a block element (allows margin auto) */
  margin: 0 auto;
  height: 50px;
  margin-top: 35px;
  margin-bottom: 0px;
}

.input-login {
  width: 350px;
  height: 50px;
  padding: 5px;
  margin: 5px;
}
/*  */

.set-icon {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 5px;
  top: 30px;
  transform: translateY(-50%) translateX(-130%);
  cursor: pointer;
  color: #888;
}

input-login:focus {
  box-shadow: 0 0 0 2px #10b981;
  outline: none;
}

.custom-btn {
  width: 350px;
  height: 40px;
  background-color: #20b2aa;
  border: none;
  color: white;
  border-radius: 4px;
}

.forgot-pass {
  text-align: end;
  margin-bottom: 15px;
  margin-top: 5px;
}

.forgot-pass a {
  text-decoration: none;
  color: #5c636a;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.5;
}

.forgot-pass a:hover {
  text-decoration: underline;
}

.login {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: black;
  margin-bottom: 19px;
  margin-top: 20px;
}

.error-div {
  color: red;
}

.m_input:has(.error-div) .input-login {
  background-image: url("/error.svg");
  border: 1px solid red;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: calc(100% - 5px) center;
}

.m_input:has(.error-div) .input-login:focus {
  box-shadow: 0 0 0 2px #ef4444;
  outline: none;
}

.m_input:not(:has(.error-div)) .input-login:not(:placeholder-shown) {
  background-image: url("/valid.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: calc(100% - 5px) center;
}

.m_input:not(:has(.error-div)) .input-login:not(:placeholder-shown):focus {
  box-shadow: 0 0 0 2px #22c55e;
  outline: none;
}
