.main-table-manage th,
.main-table-manage td {
  text-align: left;
}

.main-table-manage tr:nth-child(even) {
  background-color: #f9f9f9;
}
.popup-modal-img-archive {
  height: 35px;
  width: 35px;
  mask-image: url(/archive.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: #ffc107;
  margin-bottom: 10px;
}
.popup-modal-img-restore {
  height: 35px;
  width: 35px;
  mask-image: url(/restore.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: black;
  margin-bottom: 10px;
}

.pass-btn {
  all: unset;
  height: 40px;
  width: 40px;
  border: 1px solid #20b2aa;
  border-radius: 7px;
  text-align: center;
}

.pass-btn:hover {
  background-color: #20b2aa;
}
