.main-table-users {
  min-width: 860px;
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}
.archive-btn {
  all: unset;
  background-color: rgba(246, 133, 31, 0.3);
  padding: 4px 8px 4px 8px;
  border-radius: 20%;
}

.restore-btn {
  all: unset;
  background-color: #7474741a;
  padding: 4px 8px 4px 8px;
  border-radius: 20%;
}
.archive-btn:hover {
  background-color: #f6851f80;
}
.popup-modal-img {
  height: 35px;
  width: 35px;
  mask-image: url(/archive.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: #ffc107;
  margin-bottom: 10px;
}
.details-section {
  margin-left: 232px;
  padding-top: 10px;
  width: calc(100% - 232px);
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
}
